/* ================================= 
  Base Element Styles
==================================== */
html {
	background-color: #d9e4ea;
}

* {
	margin: auto;
	box-sizing: border-box;
	font-family: 'Varela Round', sans-serif;
}

#menu body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

.head-text {
	padding: 10px 0;
}

.row {
	flex: 1;
	background-color: white;
	padding-top: 35px;
	text-align: center;
}

.portfolio-container {
	background-color: white;
	padding: 35px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

.projects {
	text-align: left;
	padding-top: 10px;
}


h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.folio {
	color: lightblue;
	font-size: 1.5rem;
}

span {
	color: blueviolet;
	font-size: 1rem;
}

/* CHANGE */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.name,
.name-bottom {
	font-size: 1.35em;
	margin: 0;
}


.main-nav {
	margin-top: 5px;
	display: flex;
}

#menu.active {
	left: 0px;
}

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	background-color: #fff;
	transition: all 0.3s ease-in-out;
}

.bottom-nav {
	margin-top: 5px;
}

.name a,
.name-bottom,
.main-nav a,
.bottom-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.main-nav a,
.bottom-nav a {
	font-size: .95em;
	color: #093a58;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

.visit-site {
	display: inline-block;
	border: 1px solid #000;
	padding: 10px 15px;
	font-size: 12px;
	text-transform: uppercase;
	color: #000;
	transition: 0.2s all ease;
	font-weight: 700;
}

.visit-site:active,
.visit-site:focus,
.visit-site:hover {
	outline: none;
}

.visit-site:hover {
	color: #fff;
	text-decoration: none;
	background: #000;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
	width: 100%;
	background: #1b1b1b;
}

.banner {
	color: #3a3a3a;
	background: #d9e4ea;
	padding: 3.2em 10px;
	margin: auto;
	text-align: center;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}


/* section .row-form {
	margin: 25px;
} */

.main-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	max-width: 100vw;
	background: #d9e4ea;
	padding: 1em 0;
	margin-top: 100px;
}


/* ---- Page Elements ---- */

.img-fluid {
	border: 6px solid blueviolet;
	/*border: 6px solid rgb(11, 22, 221);*/
}

.logo {
	width: 300px;
}

.headline {
	margin-bottom: 0;
}

.feat-img {
	border-radius: 5px;
}

.tagline #text {
	font-size: 7px;
}

.banner {
	text-align: left;
}

.tagline {
	text-align: left;
	padding: 3px 3px;
}

.interactive {
	padding-top: 24px;
}

.game-show {
	padding-top: 20px;
}

/* ================================= 
  Media Queries to style the webpage for different views
==================================== */

@media (min-width: 768px) {

	.main-header,
	.row {
		width: 90%;
		margin: 0 auto;
	}

	.tagline {
		font-size: 1.4em;
	}

	.main-header {
		margin: 0;
		width: 100%;
	}

}

@media (min-width: 1024px) {

	.main-header,
	.row {
		width: 80%;
		max-width: 1150px;
	}

	#gallery.projects {
		margin-bottom: 20px;
	}

	#webapp {
		margin-bottom: 0;
		padding-bottom: 5px;
	}

	.interactive {
		padding-bottom: 5px;
		padding-top: 9px;
		margin-bottom: 0px;
		margin-top: 0;
	}

	.awesome {
		margin-bottom: 15px;
	}

	.awesome1 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 0px;
		padding-bottom: 5px;
	}

	.registration {
		margin-top: 0;
		margin-bottom: 0px;
		padding-bottom: 5px;
	}

	.registration1 {
		margin-top: 0px;
		margin-bottom: 20px;
		padding-top: 10px;
	}

	.full-stack {
		margin-bottom: 24px;
	}

	.full-stack1 {
		margin-top: 0px;
	}
}


@media (max-width: 768px) {

	.hamburger {
		display: block;
		padding: 1rem;
	}

	.main-nav {
		position: fixed;
		left: -100%;
		background: #1b1b1b;
		flex-direction: column;
		top: 60px;
		height: 100%;
		width: 60%;
		transition: 0.3s;
	}

	.main-nav a {
		font-size: 2rem;
	}

	.main-nav.active {
		left: 0;
	}


	.one {
		background-color: #1b1b1b;
		max-width: 95%;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.two {
		background-color: #1b1b1b;
		max-width: 95%;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.three {
		background-color: #1b1b1b;
		max-width: 95%;
		margin: 0 auto;
		margin-bottom: 10px;
	}


	.bottom-nav {
		display: none;
	}

	.name-bottom {
		margin-right: 175px;
	}

	#back {
		display: flex;
		visibility: visible;
		margin-top: 17px;
		margin-inline-end: 5px;
		justify-content: space-between;
		text-transform: uppercase;
	}

	.contact {
		margin: 0 auto;
		padding-left: 22%;
		padding-right: 22%;
		text-align: center;
	}

}


/* ================================= 
  Media Queries to adjust devices for wider screens and devices using flexbox properties.
==================================== */

@media (min-width: 768px) {

	.main-header,
	.main-nav,
	.bottom-nav,
	.row {
		display: flex;
	}

	.main-footer {
		justify-content: space-around;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
		max-width: 100%;
	}

	.col {
		flex: 1 50%;
	}

	.row {
		flex-wrap: wrap;
		width: 100%;
		padding-bottom: 5%;
	}

	.portfolio {
		margin: 0%;
	}

	.logo {
		float: right;
		width: 350px;
		padding-top: 10px;
		padding-right: 35px;
		margin: auto;
	}

	.tagline {
		padding: 0px 400px 30px 40px;
		border: 0;
		margin: auto;
	}

	.contact {
		margin: 0 auto;
		padding-left: 30%;
		padding-right: 30%;
		text-align: center;
	}

	#back {
		visibility: hidden;
	}
}

@media (min-width: 1024px) {

	.main-header {
		flex-direction: row;
		justify-content: space-around;
		width: 100vw;
	}

	.col {
		flex-basis: 30%;
	}

	.portfolio-container {
		max-width: 98%;
		margin: 0 auto;
	}

	.tagline {
		text-align: left;
		padding: 0px 500px 100px 30px;
		margin-top: 15px;
	}

	.banner {
		width: 100vw;
		margin-left: auto;
		margin-right: auto;
	}

	.logo {
		float: right;
		width: 450px;
		padding-top: 20px;
		padding-right: 70px;
	}

	.contact {
		margin: 0 auto;
		padding-left: 33%;
		padding-right: 33%;
	}

}